In [1]:
import pandas as pd
import re
import string

In [2]:
# Reading in students' names from reference .csv file
roster = pd.read_csv('roster.csv', sep=',')
first = roster['First']
last = roster['Last']
first[0]

'Thomas'

In [3]:
names = []
index = 1
while index < len(first):
    name = ""
    name = name.join(first[index] + " " + last[index])
    names.append(name)
    index += 1

names = names[:-10] # removing the last 10 students, who aren't in the profile book
    
print(names)

['Meghan Accorsi', 'Payam Aminayi', 'Jarret Andrews', 'Tanu Barsainyan', 'Scott Berry', 'Steve Blenker', 'Alvin Borum', 'Caroline Chen', 'Stacy Chura', 'Margo Didier', 'Jillian Farr', 'Nikki Fillingim', 'Shubham Garg', 'Scott Giveans', 'Ratna Govin', 'Rob Grabowski', 'Zach Hernandez', 'Jakob Kagel', 'Sourabh Karmakar', 'Will Kearney', 'Zach Keating', 'Steven Menhorn', 'Eric Nguyen', 'Smriti Pant', 'Tiffanie Patrick', 'Josh Pridgen', 'Tina Pu', 'Harry Quach', 'Harish Ramnath', 'Maggie Rheney', 'Diana Sarkar', 'Edward Skalla', 'Tyler Stierwalt', 'Jonathan Stuart', 'Ayushi Tewari', 'Brenna Tudor', 'Jeremy Walton', 'David Waters']

In [4]:
# Read in raw .txt file
file = open('student profiles.txt', "rb")
raw = file.read().decode(errors='replace')

In [5]:
raw[:200]

'FULL-TIME MBA\r\nCLASS OF 2020\r\n2 | UNIVERSITY OF GEORGIA | TERRY COLLEGE OF BUSINESS TERRY.UGA.EDU/MBA/FULL-TIME | 3\r\nFULL-TIME MBA CLASS OF 2020\r\nMeghan Accorsi\r\nBusiness Analytics, Consulting, and Ma'

In [6]:
# Data cleanup
no_punc = "".join([char for char in raw if char not in string.punctuation])
tokens = re.split('\W+', no_punc)
cleaned = " ".join(tokens)
cleaned[:800]

'FULLTIME MBA CLASS OF 2020 2 UNIVERSITY OF GEORGIA TERRY COLLEGE OF BUSINESS TERRYUGAEDUMBAFULLTIME 3 FULLTIME MBA CLASS OF 2020 Meghan Accorsi Business Analytics Consulting and Marketing Education BS Sport Management University of Florida Before Terry Three years with Boston Red Sox as Ticket Services Associate Payam Aminayi Business Analytics Consulting and Healthcare Education PhD Chemical and Paper Engineering Western Michigan University Before Terry Two years with Enzymatic Deinking Technologies as Product Development Scientist Four years with Western Michigan University as Research Associate and Lab Supervisor Jarret Andrews Finance and Operations Education BA Business Administration American Military University Before Terry Eight years with US Coast Guard as Operations Specialist Ta'

In [7]:
# Creating an index mapping for each time a student appears in the cleaned text

def find_indices(names_list):
    student_indices = []
    for i in range(len(names_list)):
        index = cleaned.find(names_list[i])
        student_indices.append(index)

    return student_indices

print(find_indices(names))

[129, 314, 624, 798, 1076, -1, 1478, 1751, 2129, 2411, 2690, 2887, 3167, 3477, 3810, 4042, 4334, 4474, 4699, 4938, 5212, 5529, 5754, 5967, 6268, 6485, 6783, -1, 7351, 7583, 7744, 8151, 8465, 8810, 9080, 9265, 9521, 9717]

In [8]:
cleaned[1076:1478] # 'Steven Blenker' should be written as 'Steve Blenker' to match the dataset

'Scott Berry Finance Education BA Finance University of South Carolina Aiken Before Terry Three years with SRP Federal Credit Union as Financial Specialist Steven Blenker Business Analytics Finance and Risk Management Education BA Psychology University at Buffalo Before Terry One year as Online and Live Gaming Entrepreneur Three years with Bryant Stratton College as Data Analyst and Statistics Tutor '

In [9]:
cleaned[6783:7351] # 'Hung Quach' probably goes by 'Harry Quach,' as represented by the original dataset

'Tina Pu Business Analytics Healthcare Marketing and Operations Education BA English Literature International Journalism Beijing Foreign Studies University Before Terry Eight years with Chongqing Medical University Health System as Director of Marketing Publicity Committee Hung Quach Business Analytics Consulting and Finance Education BA Economics International Business Foreign Trade University Before Terry Two years with Topica Edtech Group as Project Development Manager Three years with EY as Senior Associate Audit Assurance Services FULLTIME MBA CLASS OF 2020 '

In [10]:
# fixing the two names that didn't appear in the indices list the first time
for i in range(len(names)):
    if names[i] == "Steve Blenker":
        names[i] = "Steven Blenker"
    if names[i] == "Harry Quach":
        names[i] = "Hung Quach"

print(names)

['Meghan Accorsi', 'Payam Aminayi', 'Jarret Andrews', 'Tanu Barsainyan', 'Scott Berry', 'Steven Blenker', 'Alvin Borum', 'Caroline Chen', 'Stacy Chura', 'Margo Didier', 'Jillian Farr', 'Nikki Fillingim', 'Shubham Garg', 'Scott Giveans', 'Ratna Govin', 'Rob Grabowski', 'Zach Hernandez', 'Jakob Kagel', 'Sourabh Karmakar', 'Will Kearney', 'Zach Keating', 'Steven Menhorn', 'Eric Nguyen', 'Smriti Pant', 'Tiffanie Patrick', 'Josh Pridgen', 'Tina Pu', 'Hung Quach', 'Harish Ramnath', 'Maggie Rheney', 'Diana Sarkar', 'Edward Skalla', 'Tyler Stierwalt', 'Jonathan Stuart', 'Ayushi Tewari', 'Brenna Tudor', 'Jeremy Walton', 'David Waters']

In [11]:
indices = find_indices(names)
print(indices) # ready to start indexing the cleaned text

[129, 314, 624, 798, 1076, 1231, 1478, 1751, 2129, 2411, 2690, 2887, 3167, 3477, 3810, 4042, 4334, 4474, 4699, 4938, 5212, 5529, 5754, 5967, 6268, 6485, 6783, 7056, 7351, 7583, 7744, 8151, 8465, 8810, 9080, 9265, 9521, 9717]

In [12]:
# slicing each student and their achievements in a list
student_profile = []
i = 0
while i < len(indices)-1: # exclude the last index to avoid and OutofBounds error
    student_info = cleaned[indices[i]:indices[i+1]]
    student_profile.append(student_info)
    i += 1
    if i == len(indices)-1:
        student_profile.append(cleaned[indices[i]:]) # to get the last student into the student_profile list

student_profile[-1]

'David Waters Business Analytics Finance and FinTech Education BA Finance University of Georgia Before Terry Two years with Education Realty Trust as Leasing Manager Two years with ChickfilA as Manager 12 UNIVERSITY OF GEORGIA TERRY COLLEGE OF BUSINESS Terry College of Business Benjamin C Ayers Dean Earl Davis Chair in Taxation Santanu Chatterjee Director FullTime MBA Programs and MS in Business Analytics Programs and Professor of Economics Contact Us FullTime MBA MSBA Career Management Center 318 Correll Hall 600 S Lumpkin St Athens GA 306026264 7065423542 recruitmbaugaedu FALL18'

In [13]:
# trim the last student's entry
twelve_index = student_profile[-1].find("12") # as shown above, Waters' entry ends at "ChickfilA as Manager," so I'm
                                              # indexing the '12' right after that phrase
student_profile[-1] = student_profile[-1][:twelve_index-1]

In [14]:
print(student_profile[-1])

David Waters Business Analytics Finance and FinTech Education BA Finance University of Georgia Before Terry Two years with Education Realty Trust as Leasing Manager Two years with ChickfilA as Manager

In [15]:
# testing
student_profile[18]

'Sourabh Karmakar Business Analytics Marketing and Operations Education BTech Chemical Engineering National Institute Of Technolody Durgapur Before Terry Three years with PwC as Consultant Three years with IBM as Associate Systems Engineer '

In [16]:
students_df = pd.DataFrame(columns=['Names',
                           '# of Years', 'Company', 'Role',
                           '# of Years', 'Company', 'Role',
                           '# of Years', 'Company', 'Role',
                           '# of Years', 'Company', 'Role']
                 ) # maximum of 4 different work experiences ('Diana Sarkar')

In [17]:
students_df

Empty DataFrame
Columns: [Names, # of Years, Company, Role, # of Years, Company, Role, # of Years, Company, Role, # of Years, Company, Role]
Index: []

In [18]:
# Reference dictionary for turning written numbers into integers
numbers = {
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5,
    "Six": 6,
    "Seven": 7,
    "Eight": 8,
    "Nine": 9,
    "Ten": 10,
    "Eleven": 11
}

years = {
    "One year": 1,
    "Two years": 2,
    "Three years": 3,
    "Four years": 4,
    "Five years": 5,
    "Six years": 6,
    "Seven years": 7,
    "Eight years": 8,
    "Nine years": 9,
    "Ten years": 10,
    "Eleven years": 11
}

for line_number in range(len(student_profile)):
    
    # separating by number words
    tokenized = student_profile[line_number].split(' ')
    indices_list = []
    for i in range(len(tokenized)):
        if tokenized[i] in numbers.keys():
            indices_list.append(i)

    # putting back together
    new_list = []
    for i in range(len(indices_list)):
        # for students with one work experience listed
        if len(indices_list) == 1:
            new_list.append(" ".join(tokenized[:indices_list[i]]))
            new_list.append(" ".join(tokenized[indices_list[i]:]))
        elif i == 0: # First element in the index list (segment from beginning of tokenized student info)
            new_list.append(" ".join(tokenized[:indices_list[i]]))
            new_list.append(" ".join(tokenized[indices_list[i]:indices_list[i+1]]))
        elif i == len(indices_list)-1: # last index
            new_list.append(" ".join(tokenized[indices_list[i]:]))
        else:
            new_list.append(" ".join(tokenized[indices_list[i]:indices_list[i+1]]))

    # clean up trailing words
    
    for i in range(len(new_list)):
        # the word "Experience"
        # assumption here: if it just says "Experience with", it might mean the experience was < 1 year
        # (too insignificant to include in the total year calculation)
        if (" Experience") in new_list[i]:
            exp_loc = new_list[i].find(" Experience")
            new_list[i] = new_list[i][:exp_loc]
            
        # footer ("FULLTIME")
        if (" FULLTIME" in new_list[i]):
            fulltime_loc = new_list[i].find(" FULLTIME")
            new_list[i] = new_list[i][:fulltime_loc]
            
        # footer ("(PAGENUMBER) UNIVERSITY")
        if (" UNIVERSITY" in new_list[i]):
            university_loc = new_list[i].find(" UNIVERSITY") 
            new_list[i] = new_list[i][:university_loc-2]
            # limit here is that there are no more than double digits in the pages
            # Ex. ' 8 UNIVERSITY' will remove '8' and also the space before '8'.
            # Ex. ' 10 UNIVERSITY' will remove just '10' and leave the space before 10
        
        # I only want the first 2 words in element 1 (first and last name)
        if i == 0:
            split = new_list[i].split(" ")
            first_two = split[:2]
            new_list[i] = " ".join(first_two)

    # splitting by re
    list_final = []
    for i in range(len(new_list)):
        split = re.split(' with | as ', new_list[i])
        for j in split:
            list_final.append(j)

    # replacing written years with number
    for i in range(len(list_final)):
        if list_final[i] in years.keys():
            list_final[i] = years[list_final[i]]

    # filling in null values for mismatched levels of work experience
    if len(list_final) != 13: #if it's not four work experiences
        if len(list_final) == 4: # one work experience
            add_null = [''] * 9
            list_final.extend(add_null)
        elif len(list_final) == 7: # two work experiences
            add_null = [''] * 6
            list_final.extend(add_null)
        elif len(list_final) == 10: # three work experiences
            add_null = [''] * 3
            list_final.extend(add_null)
        elif len(list_final) == 6: # ('Steven Blenker' and 'Jakob Kagel' content needs to be moved over one column
                                   # since their formatting was a little bit off (Blenker with job and no company,
                                   # Kegel with typo not including the word 'as')
            add_null = [''] * 7
            list_final.extend(add_null)
    
    students_df.loc[line_number] = list_final

In [19]:
students_df.head(10)

,Names,# of Years,Company,Role,# of Years,Company,Role,# of Years,Company,Role,# of Years,Company,Role
0,Meghan Accorsi,3,Boston Red Sox,Ticket Services Associate,,,,,,,,,
1,Payam Aminayi,2,Enzymatic Deinking Technologies,Product Development Scientist,4,Western Michigan University,Research Associate and Lab Supervisor,,,,,,
2,Jarret Andrews,8,US Coast Guard,Operations Specialist,,,,,,,,,
3,Tanu Barsainyan,2,Dassault Systemes,Development Engineer,2,Infosys,Senior Systems Engineer,,,,,,
4,Scott Berry,3,SRP Federal Credit Union,Financial Specialist,,,,,,,,,
5,Steven Blenker,1,Online and Live Gaming Entrepreneur,3,Bryant Stratton College,Data Analyst and Statistics Tutor,,,,,,,
6,Alvin Borum,3,DeKalb County Superior Court,Mental Health Court Coordinator and Laboratory...,,,,,,,,,
7,Caroline Chen,1,Skyline RF,Sales Assistant Manager,3,San Jose Technology,International Sales Representative,,,,,,
8,Stacy Chura,1,Davenport Laroche,PR Digital Marketing Manager,2,Danone Company,Special Project Colead,1,BIGIN Project,Founder and Project Lead,,,
9,Margo Didier,6,MUFG Investor Services,Senior Client Services Representative and Budd...,1,Northwestern Mutual,Campus Recruiter,,,,,,

In [281]:
# Export df
students_df.to_csv(r'/Users/andrewli/Desktop/MBA 2020 Student Profile.csv')